{
  "openapi": "3.0.0",
  "info": {
    "title": "Ringg AI API Documentation",
    "description": "This is the documentation for the Ringg AI APIs. The Ringg AI API follows RESTful principles, making it intuitive and easy to integrate with your applications. All API requests should be made to the base URL. The API accepts and returns data in JSON format. Ensure your requests include the appropriate Content-Type header for POST and PATCH requests.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://prod-api.ringg.ai/ca/api/v0"
    }
  ],
  "tags": [
    {
      "name": "workspace",
      "description": "Endpoints for managing your workspace."
    },
    {
      "name": "agent",
      "description": "Endpoints for managing assistants (agents)."
    },
    {
      "name": "calling",
      "description": "Endpoints for making and managing calls."
    },
    {
      "name": "campaign",
      "description": "Endpoints for managing campaigns."
    }
  ],
  "paths": {
    "/workspace": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get Workspace Info",
        "description": "Retrieves information about your current workspace.",
        "operationId": "getWorkspaceInfo",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: Information about the current workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace_info": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "d079bcb3-72a3-42dc-9586-edf0328e2973"
                        },
                        "name": {
                          "type": "string",
                          "example": "Siddharth @ DesiVocal's Workspace"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-12-16T13:03:29.947147+00:00"
                        },
                        "credits": {
                          "type": "integer",
                          "example": 3025
                        },
                        "locked_credits": {
                          "type": "integer",
                          "example": 0
                        },
                        "api_key": {
                          "type": "string",
                          "example": "7251cb4b--f52b-4b47-a230-f626ecad3e85"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "401 Unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid credentials"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "500 Internal Server Error"
                        },
                        "message": {
                          "type": "string",
                          "example": "An unexpected error occurred on the server."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/users": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "List Workspace Users",
        "description": "Retrieves a list of all users in your current workspace.",
        "operationId": "listWorkspaceUsers",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return (default: 20, max: 100).",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (default: 0).",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: A list of users in the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace_users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "7251cb4b-3373-43a4-844c-b27a1d45e0c9"
                          },
                          "username": {
                            "type": "string",
                            "example": "sahil"
                          },
                          "email": {
                            "type": "string",
                            "example": "sahil@desivocal.com"
                          },
                          "role": {
                            "type": "string",
                            "example": "member"
                          },
                          "invite_status": {
                            "type": "string",
                            "example": "success"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key."
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end."
          }
        }
      }
    },
    "/workspace/numbers": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get Workspace Numbers",
        "description": "Retrieves a list of available phone numbers in your workspace.",
        "operationId": "getWorkspaceNumbers",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return (default: 20, max: 100).",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (default: 0).",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: A list of available phone numbers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace_numbers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "5d7f9a2b-1c3e-4f6g-8h9i-0j1k2l3m4n5o"
                          },
                          "number": {
                            "type": "string",
                            "example": "+1234567890"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-12-16T13:03:29.947147+00:00"
                          },
                          "call_count": {
                            "type": "integer",
                            "example": 0
                          },
                          "agent": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "830f767a-397e-4b39-82ff-235cd344e2f9"
                              },
                              "agent_display_name": {
                                "type": "string",
                                "example": "Sales Assistant"
                              }
                            }
                          },
                          "is_inbound_enabled": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key."
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end."
          }
        }
      }
    },
    "/workspace/all": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get All User Workspaces",
        "description": "Retrieves a list of all workspaces accessible to the current user.",
        "operationId": "getAllUserWorkspaces",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: A list of user workspaces.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "d079bcb3-72a3-42dc-9586-edf0328e2973"
                          },
                          "name": {
                            "type": "string",
                            "example": "Siddharth @ DesiVocal's Workspace"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-12-16T13:03:29.947147+00:00"
                          },
                          "role": {
                            "type": "string",
                            "example": "owner"
                          },
                          "credits": {
                            "type": "integer",
                            "example": 3025
                          },
                          "locked_credits": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key."
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end."
          }
        }
      }
    },
    "/workspace/api-key": {
      "patch": {
        "tags": [
          "workspace"
        ],
        "summary": "Regenerate API Key",
        "description": "Regenerates a new API key for the current workspace.",
        "operationId": "regenerateApiKey",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your current Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: New API key generated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "new_api_key": {
                      "type": "string",
                      "example": "e89b12d3-a456-426c-8001-f05de02b54b4"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key."
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end."
          }
        }
      }
    },
    "/agent/all": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "Get Assistants",
        "description": "Retrieves a list of all available assistants in your workspace.",
        "operationId": "getAssistants",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return (default: 20, max: 100).",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (default: 0).",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: A list of assistants.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "agents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "830f767a-397e-4b39-82ff-235cd344e2f9"
                              },
                              "agent_display_name": {
                                "type": "string",
                                "example": "Sales Assistant"
                              },
                              "agent_type": {
                                "type": "string",
                                "example": "outbound"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2024-12-16T13:03:29.947147+00:00"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2024-12-16T14:15:32.123456+00:00"
                              },
                              "template_name": {
                                "type": "string",
                                "example": "sales"
                              },
                              "template_label": {
                                "type": "string",
                                "example": "Sales Agent"
                              },
                              "template_icon": {
                                "type": "string",
                                "example": "💼"
                              },
                              "template_source": {
                                "type": "string",
                                "example": "custom"
                              },
                              "call_count": {
                                "type": "integer",
                                "example": 47
                              },
                              "custom_variables": {
                                "type": "object",
                                "example": {
                                  "callee_name": "string",
                                  "mobile_number": "string",
                                  "company": "string",
                                  "lead_source": "string"
                                }
                              },
                              "tools": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                },
                                "example": []
                              },
                              "is_archived": {
                                "type": "boolean",
                                "example": false
                              },
                              "secondary_language": {
                                "type": "string",
                                "nullable": true,
                                "example": "hi-IN"
                              },
                              "secondary_voice_id": {
                                "type": "string",
                                "nullable": true,
                                "example": "4c6d8e3b-9f0a-5b2c-ad7e-3f6a9b8c5d7e"
                              },
                              "template_type": {
                                "type": "string",
                                "example": "outbound"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key."
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end."
          }
        }
      }
    },
    "/agent/voices": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "Get Assistant Voices",
        "description": "Retrieves a list of available voices for assistants, optionally filtered by language.",
        "operationId": "getAssistantVoices",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter voices by language (e.g., 'en-US', 'hi-IN'). Multiple languages can be comma-separated.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: A list of available voices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "voices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "3b5c7d2a-8e9f-4a1b-9c6d-2e5f8a7b3c4d"
                          },
                          "name": {
                            "type": "string",
                            "example": "Sarah"
                          },
                          "languages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "en-US",
                              "en-GB"
                            ]
                          },
                          "voice_previews": {
                            "type": "object",
                            "properties": {
                              "en-US": {
                                "type": "string",
                                "format": "uri",
                                "example": "https://example.com/voice-preview-en-us.mp3"
                              }
                            }
                          },
                          "image_url": {
                            "type": "string",
                            "format": "uri",
                            "example": "https://example.com/voice-avatar.jpg",
                            "nullable": true
                          },
                          "gender": {
                            "type": "string",
                            "example": "female"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-12-16T13:03:29.947147+00:00"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-12-16T13:03:29.947147+00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key."
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch agent voices"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1": {
      "patch": {
        "tags": [
          "agent"
        ],
        "summary": "Edit Assistant",
        "description": "Updates an existing assistant with new configuration settings. Each operation requires specific fields to be provided.",
        "operationId": "editAssistant",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operation",
                  "agent_id"
                ],
                "properties": {
                  "operation": {
                    "type": "string",
                    "enum": [
                      "attach_inbound_number",
                      "remove_inbound_number",
                      "attach_kb",
                      "remove_kb",
                      "edit_custom_vars",
                      "edit_language",
                      "edit_voice",
                      "edit_prompt",
                      "edit_noise_settings",
                      "edit_agent_display_name",
                      "edit_intro_message",
                      "edit_query_phrases",
                      "edit_dtmf_settings",
                      "edit_vad_settings",
                      "edit_agent_whitelisted_domains",
                      "edit_voice_speed",
                      "edit_extract_callee_name",
                      "edit_vocab",
                      "edit_api_settings",
                      "edit_secondary_language",
                      "edit_secondary_voice"
                    ],
                    "example": "edit_agent_display_name"
                  },
                  "agent_id": {
                    "type": "string",
                    "example": "830f767a-397e-4b39-82ff-235cd344e2f9"
                  },
                  "agent_display_name": {
                    "type": "string",
                    "example": "Updated Sales Assistant"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "en-US",
                      "en-IN",
                      "hi-IN",
                      "ta-IN",
                      "te-IN",
                      "kn-IN",
                      "mr-IN",
                      "gu-IN",
                      "ar-AE"
                    ],
                    "example": "en-US"
                  },
                  "voice_id": {
                    "type": "string",
                    "example": "3b5c7d2a-8e9f-4a1b-9c6d-2e5f8a7b3c4d"
                  },
                  "secondary_voice_id": {
                    "type": "string",
                    "example": "4c6d8e3b-9f0a-5b2c-ad7e-3f6a9b8c5d7e"
                  },
                  "secondary_language": {
                    "type": "string",
                    "enum": [
                      "en-US",
                      "en-IN",
                      "hi-IN",
                      "ta-IN",
                      "te-IN",
                      "kn-IN",
                      "mr-IN",
                      "gu-IN",
                      "ar-AE"
                    ],
                    "example": "hi-IN"
                  },
                  "agent_prompt": {
                    "oneOf": [
                      {
                        "type": "string",
                        "example": "You are a helpful sales assistant."
                      },
                      {
                        "type": "object",
                        "properties": {
                          "prompt_sections": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "section_title": {
                                  "type": "string"
                                },
                                "section_content": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    ]
                  },
                  "custom_variables": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "callee_name",
                      "mobile_number",
                      "company",
                      "lead_source"
                    ]
                  },
                  "number_id": {
                    "type": "string",
                    "example": "5d7f9a2b-1c3e-4f6g-8h9i-0j1k2l3m4n5o"
                  },
                  "kb_id": {
                    "type": "string",
                    "example": "7a9c2d5e-4f6b-1a2b-3c4d-5e6f7a8b9c0d"
                  },
                  "whitelisted_domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "https://www.ringg.ai",
                      "https://example.com"
                    ]
                  },
                  "voice_speed": {
                    "type": "number",
                    "example": 1.2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response: Assistant updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent updated successfully!"
                    },
                    "agent_id": {
                      "type": "string",
                      "example": "830f767a-397e-4b39-82ff-235cd344e2f9"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Selected voice does not support the specified language"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key."
          },
          "404": {
            "description": "Not Found - Assistant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Agent not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Failed to edit agent"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/{agent_id}": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "Get Assistant By ID",
        "description": "Retrieves detailed information about a specific assistant by its ID.",
        "operationId": "getAssistantById",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "description": "(Required) ID of the assistant to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: Detailed information about the assistant.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "830f767a-397e-4b39-82ff-235cd344e2f9"
                        },
                        "agent_display_name": {
                          "type": "string",
                          "example": "Sales Assistant"
                        },
                        "agent_type": {
                          "type": "string",
                          "example": "outbound"
                        },
                        "whitelisted_domains": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "https://www.ringg.ai",
                            "https://example.com"
                          ]
                        },
                        "language": {
                          "type": "string",
                          "example": "en-US"
                        },
                        "form_fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          },
                          "example": [
                            {
                              "key": "company_name",
                              "value": "Ringg AI"
                            },
                            {
                              "key": "product",
                              "value": "AI calling platform"
                            }
                          ]
                        },
                        "voice": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "3b5c7d2a-8e9f-4a1b-9c6d-2e5f8a7b3c4d"
                            },
                            "name": {
                              "type": "string",
                              "example": "Sarah"
                            },
                            "voice_preview": {
                              "type": "string",
                              "format": "uri",
                              "example": "https://example.com/voice-preview.mp3"
                            }
                          }
                        },
                        "agent_config": {
                          "type": "object",
                          "example": {
                            "custom_variables": {
                              "callee_name": "string",
                              "mobile_number": "string"
                            },
                            "agent_prompt": "You are a helpful sales assistant.",
                            "intro_message": "Hello! I'm calling from Ringg AI."
                          }
                        },
                        "knowledge_base_id": {
                          "type": "string",
                          "nullable": true,
                          "example": "7a9c2d5e-4f6b-1a2b-3c4d-5e6f7a8b9c0d"
                        },
                        "knowledge_base_name": {
                          "type": "string",
                          "nullable": true,
                          "example": "Product FAQ"
                        },
                        "template_name": {
                          "type": "string",
                          "example": "sales"
                        },
                        "template_label": {
                          "type": "string",
                          "example": "Sales Agent"
                        },
                        "template_icon": {
                          "type": "string",
                          "example": "💼"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-12-16T13:03:29.947147+00:00"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-12-16T14:15:32.123456+00:00"
                        },
                        "tools": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "config": {
                                "type": "object"
                              },
                              "tool_type": {
                                "type": "string"
                              }
                            }
                          },
                          "example": []
                        },
                        "secondary_language": {
                          "type": "string",
                          "nullable": true,
                          "example": "hi-IN"
                        },
                        "secondary_voice_id": {
                          "type": "string",
                          "nullable": true,
                          "example": "4c6d8e3b-9f0a-5b2c-ad7e-3f6a9b8c5d7e"
                        },
                        "template_type": {
                          "type": "string",
                          "example": "outbound"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key."
          },
          "404": {
            "description": "Not Found - Resource doesn't exist."
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end."
          }
        }
      },
      "delete": {
        "tags": [
          "agent"
        ],
        "summary": "Delete Assistant",
        "description": "Deletes an assistant by archiving it (soft delete).",
        "operationId": "deleteAssistant",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "path",
            "description": "(Required) ID of the assistant to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: Assistant deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent deleted successfully!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key."
          },
          "404": {
            "description": "Not Found - Assistant not found."
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end."
          }
        }
      }
    },
    "/calling/outbound/individual": {
      "post": {
        "tags": [
          "calling"
        ],
        "summary": "Initiate Individual Call",
        "description": "Starts a new individual outbound call to a specified recipient. The from_number field is required and should be a valid phone number with country code.",
        "operationId": "initiateIndividualCall",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "mobile_number",
                  "agent_id",
                  "from_number"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the person to call",
                    "example": "John Doe"
                  },
                  "mobile_number": {
                    "type": "string",
                    "description": "The phone number to call",
                    "example": "+1234567890"
                  },
                  "agent_id": {
                    "type": "string",
                    "description": "UUID of the agent that will handle the call",
                    "example": "830f767a-397e-4b39-82ff-235cd344e2f9"
                  },
                  "from_number": {
                    "type": "string",
                    "description": "The phone number to call from (with country code)",
                    "example": "+1987654321"
                  },
                  "custom_args_values": {
                    "type": "object",
                    "description": "Custom variables that will be replaced in the agent's prompt using @{{variable_name}} syntax",
                    "properties": {
                      "company_name": {
                        "type": "string",
                        "description": "Company name for context",
                        "example": "XYZ Corp"
                      },
                      "appointment_date": {
                        "type": "string",
                        "description": "Appointment date",
                        "example": "2025-01-20"
                      },
                      "product_name": {
                        "type": "string",
                        "description": "Product name for sales calls",
                        "example": "Premium Service"
                      }
                    },
                    "example": {
                      "company_name": "XYZ Corp",
                      "appointment_date": "2025-01-20",
                      "product_name": "Premium Service"
                    }
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Webhook URL to receive call status updates and analysis results. Callbacks are sent when call status changes (completed, failed, etc.) and when analysis is complete.",
                    "format": "uri",
                    "example": "https://your-webhook-url.com/callback"
                  },
                  "callback_args": {
                      "type": "object",
                      "description": "Additional arguments for the webhook callback",
                      "properties": {
                        "headers": {
                          "type": "object",
                          "description": "Custom HTTP headers for the webhook request.",
                          "properties": {
                            "X-API-Key": {
                              "type": "string",
                              "description": "API key for webhook authentication",
                              "example": "sk_coffee_1234567890abcdef"
                            },
                            "Content-Type": {
                              "type": "string",
                              "description": "Content type for the webhook request",
                              "example": "application/json"
                            }
                          },
                          "example": {
                            "X-API-Key": "sk_coffee_1234567890abcdef",
                            "Content-Type": "application/json"
                          }
                        },
                        "params": {
                          "type": "object",
                          "description": "URL query parameters to append to the callback URL. These are added as ?key=value pairs to the webhook URL.",
                          "properties": {
                            "source": {
                              "type": "string",
                              "description": "Source identifier for the webhook",
                              "example": "api"
                            },
                            "version": {
                              "type": "string",
                              "description": "API version identifier",
                              "example": "v1"
                            }
                          },
                          "example": {
                            "source": "api",
                            "version": "v1"
                          }
                        }
                      }
                    },
                  "call_config": {
                    "type": "object",
                    "description": "Override default call configuration",
                    "properties": {
                      "idle_timeout_warning": {
                        "type": "integer",
                        "description": "Seconds before idle warning (default: 5)",
                        "default": 5,
                        "example": 10
                      },
                      "idle_timeout_end": {
                        "type": "integer",
                        "description": "Seconds before call termination (default: 10)",
                        "default": 10,
                        "example": 15
                      },
                      "max_call_length": {
                        "type": "integer",
                        "description": "Maximum call duration in seconds (default: 240)",
                        "default": 240,
                        "example": 300
                      },
                      "call_retry_config": {
                        "type": "object",
                        "description": "Retry configuration for failed calls",
                        "properties": {
                          "retry_count": {
                            "type": "integer",
                            "description": "Number of retry attempts",
                            "example": 3
                          },
                          "retry_busy": {
                            "type": "integer",
                            "description": "Minutes to wait if busy (default: 30)",
                            "example": 30
                          },
                          "retry_not_picked": {
                            "type": "integer",
                            "description": "Minutes to wait if not picked (default: 30)",
                            "example": 30
                          },
                          "retry_failed": {
                            "type": "integer",
                            "description": "Minutes to wait if failed (default: 30)",
                            "example": 30
                          }
                        },
                        "example": {
                          "retry_count": 3,
                          "retry_busy": 30,
                          "retry_not_picked": 30,
                          "retry_failed": 30
                        }
                      },
                      "call_time": {
                        "type": "object",
                        "description": "Time window configuration for calls",
                        "properties": {
                          "call_start_time": {
                            "type": "string",
                            "description": "When calls can start (default: 08:00)",
                            "default": "08:00",
                            "example": "09:00"
                          },
                          "call_end_time": {
                            "type": "string",
                            "description": "When calls must end (default: 20:00)",
                            "default": "20:00",
                            "example": "18:00"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "Timezone for call times (default: Asia/Kolkata)",
                            "default": "Asia/Kolkata",
                            "example": "America/New_York"
                          }
                        },
                        "example": {
                          "call_start_time": "09:00",
                          "call_end_time": "18:00",
                          "timezone": "America/New_York"
                        }
                      }
                    },
                    "example": {
                      "idle_timeout_warning": 10,
                      "idle_timeout_end": 15,
                      "max_call_length": 300,
                      "call_retry_config": {
                        "retry_count": 3,
                        "retry_busy": 30,
                        "retry_not_picked": 30,
                        "retry_failed": 30
                      },
                      "call_time": {
                        "call_start_time": "09:00",
                        "call_end_time": "18:00",
                        "timezone": "America/New_York"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response: Details about the initiated call.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Call Status": {
                      "type": "string",
                      "example": "Call initiated successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "Unique Call ID": {
                          "type": "string",
                          "example": "550e8400-e29b-41d4-a716-446655440000"
                        },
                        "Call Direction": {
                          "type": "string",
                          "example": "outbound"
                        },
                        "Call Status": {
                          "type": "string",
                          "example": "ongoing"
                        },
                        "From Number": {
                          "type": "string",
                          "example": "+1987654321"
                        },
                        "To Number": {
                          "type": "string",
                          "example": "+1234567890"
                        },
                        "Initiated at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-01-15T10:30:00Z"
                        },
                        "Agent ID": {
                          "type": "string",
                          "example": "830f767a-397e-4b39-82ff-235cd344e2f9"
                        },
                        "message": {
                          "type": "string",
                          "example": "Call initiated successfully"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_parameter"
                        },
                        "message": {
                          "type": "string",
                          "example": "Missing required field"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "401 Unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid credentials"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "500 Internal Server Error"
                        },
                        "message": {
                          "type": "string",
                          "example": "An unexpected error occurred on the server."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/calling/history": {
      "get": {
        "tags": [
          "calling"
        ],
        "summary": "Get Call History",
        "description": "Retrieves the history of calls made through the Ringg AI platform.",
        "operationId": "getCallHistory",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Filter calls starting from this date (ISO 8601 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Filter calls up to this date (ISO 8601 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of calls to return (default: 10).",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of calls to skip (default: 0).",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter calls by assistant ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter calls by status (e.g., \"completed\", \"failed\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "download",
            "in": "query",
            "description": "Whether to download the results as a CSV file.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "bulk_list_id",
            "in": "query",
            "description": "Filter calls by bulk list ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: Call history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "calls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "to_number": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "transcript": {
                            "type": "string"
                          },
                          "audio_recording": {
                            "type": "string",
                            "format": "uri"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "agent": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "agent_name": {
                                "type": "string"
                              }
                            }
                          },
                          "call_duration": {
                            "type": "number"
                          },
                          "call_attempt_time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "call_cost": {
                            "type": "number"
                          },
                          "call_type": {
                            "type": "string"
                          },
                          "inbound_from": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or request format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_parameter"
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid date format for start_date."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "401 Unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid credentials"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "500 Internal Server Error"
                        },
                        "message": {
                          "type": "string",
                          "example": "An unexpected error occurred on the server."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calling/call-details": {
      "get": {
        "tags": [
          "calling"
        ],
        "summary": "Get Call Details",
        "description": "Retrieves detailed information about a specific call using its unique identifier.",
        "operationId": "getCallDetails",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "(Required) The unique identifier (UUID) of the call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "start_time": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "end_time": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "participants": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The call does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Call not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "An unexpected error occurred."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/calling/contact/{list_id}": {
      "delete": {
        "tags": [
          "calling"
        ],
        "summary": "Delete Contact List",
        "description": "Deletes a contact list and all associated contacts by list ID.",
        "operationId": "deleteContactList",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "list_id",
            "in": "path",
            "description": "(Required) The unique identifier of the contact list to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact list deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Bulk list deleted successfully!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key."
          },
          "404": {
            "description": "Not Found - Contact list not found."
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end."
          }
        }
      }
    },

    "/campaign/all": {
      "get": {
        "tags": [
          "campaign"
        ],
        "summary": "Get All Campaigns",
        "description": "Retrieves a list of all campaigns for the current user.",
        "operationId": "getAllCampaigns",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "call_count",
            "in": "query",
            "description": "Whether to include call count for each campaign.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "An unexpected error occurred."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaign/start": {
      "post": {
        "tags": [
          "campaign"
        ],
        "summary": "Start Campaign",
        "description": "Initiates a new campaign with the specified configuration.",
        "operationId": "startCampaign",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": {
                    "type": "string"
                  },
                  "list_id": {
                    "type": "string"
                  },
                  "from_numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign started successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Invalid agent_id."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "An unexpected error occurred."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaign/save": {
      "post": {
        "tags": [
          "campaign"
        ],
        "summary": "Upload Campaign Contact List",
        "description": "Uploads a contact list for a campaign. Accepts a CSV file and campaign configuration as form data.",
        "operationId": "uploadCampaignContactList",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "variables_map": {
                    "type": "string",
                    "description": "(Required) JSON string mapping variable names to columns."
                  },
                  "agent_id": {
                    "type": "string",
                    "description": "(Required) Unique identifier for the agent."
                  },
                  "call_config": {
                    "type": "string",
                    "description": "(Required) JSON string of call configuration."
                  },
                  "country_code": {
                    "type": "string",
                    "description": "(Required) Country code for the campaign."
                  },
                  "campaign_start_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "(Required) Start time for the campaign (ISO 8601)."
                  },
                  "campaign_end_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "(Required) End time for the campaign (ISO 8601)."
                  },
                  "campaign_name": {
                    "type": "string",
                    "description": "(Required) Name of the campaign."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "(Required) CSV file containing the contact list."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact list uploaded and campaign saved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Campaign contact list uploaded successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input or file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Invalid file format."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "An unexpected error occurred."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaign/terminate": {
      "patch": {
        "tags": [
          "campaign",
          "calling"
        ],
        "summary": "Terminate Calls",
        "description": "Terminates active (registered/retry) calls at different levels: all calls for an agent, specific calls by call IDs, all calls within a campaign, specific calls within a campaign by mobile numbers, or all calls associated with mobile numbers.",
        "operationId": "terminateCalls",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": {
                    "type": "string",
                    "description": "Terminate all active calls for a specific agent",
                    "example": "196d8d88-591e-4e08-8324-2f928d152fff"
                  },
                  "call_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of specific call IDs to terminate",
                    "example": ["86815974-8a87-4e32-9953-aca4f97868ab", "9ab99d2d-595c-4ca1-bab7-07d13f253156"]
                  },
                  "campaign_id": {
                    "type": "string",
                    "description": "Campaign ID to terminate all calls within a campaign",
                    "example": "0b52ca2b-7767-4cb5-ac4c-b2a4f892a856"
                  },
                  "mobile_numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of mobile numbers to terminate calls for (max 100). Can be used with campaign_id or alone for individual calls",
                    "example": ["+918882876897", "+918882876898"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calls terminated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Calls terminated successfully!"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Either 'agent_id', 'call_ids', 'campaign_id', or 'mobile_numbers' must be provided."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "An unexpected error occurred."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  }
}