{
  "openapi": "3.0.0",
  "info": {
    "title": "Ringg AI API Documentation",
    "description": "This is the documentation for the Ringg AI APIs. The Ringg AI API follows RESTful principles, making it intuitive and easy to integrate with your applications. All API requests should be made to the base URL. The API accepts and returns data in JSON format. Ensure your requests include the appropriate Content-Type header for POST and PATCH requests.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://prod-api.ringg.ai/ca/api/v0"
    }
  ],
  "tags": [
    {
      "name": "workspace",
      "description": "Endpoints for managing your workspace."
    },
    {
      "name": "agent",
      "description": "Endpoints for managing agents."
    },
    {
      "name": "calling",
      "description": "Endpoints for making and managing calls."
    },
    {
      "name": "campaign",
      "description": "Endpoints for managing campaigns."
    },
    {
      "name": "analytics",
      "description": "Endpoints for accessing call analytics and performance metrics."
    },
    {
      "name": "termination",
      "description": "Endpoints for terminating active calls using different methods."
    },
    {
      "name": "knowledgebase",
      "description": "Endpoints for managing knowledge bases."
    }
  ],
  "paths": {
    "/workspace": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get Workspace Info",
        "x-mint": {
          "metadata": {
            "title": "Get Workspace Info | Ringg AI",
            "og:title": "Get Workspace Info | Ringg AI"
          }
        },
        "description": "Retrieves information about your current workspace.",
        "operationId": "getWorkspaceInfo",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: Information about the current workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace_info": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "00000000-0000-4000-8000-000000000112"
                        },
                        "name": {
                          "type": "string",
                          "example": "Acme Lending"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-12-16T13:03:29.947147+00:00"
                        },
                        "credits": {
                          "type": "integer",
                          "example": 3025
                        },
                        "locked_credits": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/users": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "List Workspace Users",
        "x-mint": {
          "metadata": {
            "og:title": "List Workspace Users | Ringg AI"
          }
        },
        "description": "Retrieves a list of all users in your current workspace.",
        "operationId": "listWorkspaceUsers",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return.",
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (default: 0).",
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: A list of users in the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace_users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "00000000-0000-4000-8000-000000000111"
                          },
                          "username": {
                            "type": "string",
                            "example": "priya.sharma"
                          },
                          "email": {
                            "type": "string",
                            "example": "user@example.com"
                          },
                          "role": {
                            "type": "string",
                            "example": "member"
                          },
                          "invite_status": {
                            "type": "string",
                            "example": "success"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/numbers": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get Workspace Numbers",
        "x-mint": {
          "metadata": {
            "og:title": "Get Workspace Numbers | Ringg AI"
          }
        },
        "description": "Retrieves every phone number in your workspace, newest first. The list is not paged.",
        "operationId": "getWorkspaceNumbers",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          },
          {
            "name": "telephony_account_id",
            "in": "query",
            "required": false,
            "description": "(Optional) A connected telephony account's ID to list only its numbers, or `ringg` for numbers provided by Ringg, including the shared test numbers. Leave it out for every number.",
            "schema": {
              "type": "string",
              "example": "ringg"
            }
          },
          {
            "name": "inbound_enabled",
            "in": "query",
            "required": false,
            "description": "(Optional) `true` for numbers that can receive inbound calls, `false` for the rest.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: A list of available phone numbers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace_numbers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "00000000-0000-4000-8000-000000000109"
                          },
                          "number": {
                            "type": "string",
                            "example": "+919876540001"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-12-16T13:03:29.947147+00:00"
                          },
                          "call_count": {
                            "type": "integer",
                            "example": 0
                          },
                          "agent": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "00000000-0000-4000-8000-0000000000a1"
                              },
                              "agent_display_name": {
                                "type": "string",
                                "example": "Sales Assistant"
                              }
                            }
                          },
                          "is_inbound_enabled": {
                            "type": "boolean",
                            "example": true
                          },
                          "is_test_number": {
                            "type": "boolean",
                            "example": false
                          },
                          "is_relay": {
                            "type": "boolean",
                            "description": "`true` for a WhatsApp Relay number.",
                            "example": false
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": []
                          },
                          "is_spam": {
                            "type": "boolean",
                            "example": false
                          },
                          "spam_message": {
                            "type": "string",
                            "nullable": true,
                            "example": null
                          },
                          "provider": {
                            "type": "string",
                            "nullable": true,
                            "example": "ringg",
                            "description": "Telephony provider; `ringg` for numbers on Ringg's own account."
                          },
                          "display_name": {
                            "type": "string",
                            "nullable": true,
                            "example": "Sales Line"
                          },
                          "owner": {
                            "type": "string",
                            "enum": [
                              "ringg",
                              "customer"
                            ],
                            "description": "`ringg` for a number on Ringg's account, `customer` for one on your own telephony account.",
                            "example": "ringg"
                          },
                          "is_custom_number": {
                            "type": "boolean",
                            "example": false
                          },
                          "telephony_id": {
                            "type": "string",
                            "nullable": true,
                            "example": "00000000-0000-4000-8000-000000000113"
                          },
                          "number_pool_id": {
                            "type": "string",
                            "nullable": true,
                            "example": "00000000-0000-4000-8000-000000000113"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - `telephony_account_id` is not a UUID or `ringg`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid telephony_account_id: abc"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment/number/checkout": {
      "post": {
        "tags": [
          "payment"
        ],
        "summary": "Buy Number",
        "x-mint": {
          "metadata": {
            "title": "Buy Number | Ringg AI",
            "og:title": "Buy Number | Ringg AI"
          }
        },
        "description": "Purchases a phone number and adds it to the current workspace.",
        "operationId": "buyNumber",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Specific phone number to buy. If present, Ringg attempts to buy this number.",
                    "example": "+919876500000"
                  },
                  "prefix": {
                    "type": "string",
                    "description": "Optional number prefix. If number is omitted, Ringg searches for the first available number with this prefix.",
                    "example": "80"
                  },
                  "country_code": {
                    "type": "string",
                    "enum": [
                      "CA",
                      "IN",
                      "US"
                    ],
                    "default": "IN",
                    "description": "Country where the number should be purchased.",
                    "example": "IN"
                  },
                  "region": {
                    "type": "string",
                    "description": "Optional region code or region name supported for the selected country/provider.",
                    "example": "KA"
                  },
                  "telephony_account_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional workspace telephony account ID. When supplied, Ringg buys through that account's credentials.",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "plivo",
                      "exotel",
                      "twilio",
                      "asterisk",
                      "custom",
                      "convox",
                      "vobiz",
                      "mcube",
                      "tatatele",
                      "ozonetel",
                      "whatsapp",
                      "knowlarity"
                    ],
                    "description": "Optional provider to use when telephony_account_id is omitted. Exotel purchases are currently disabled.",
                    "example": "plivo"
                  },
                  "app_id": {
                    "type": "string",
                    "description": "Optional provider application ID to attach after purchase.",
                    "example": "app-123"
                  }
                },
                "example": {
                  "country_code": "IN",
                  "region": "KA",
                  "prefix": "80",
                  "provider": "plivo"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Number bought successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Number bought successfully!"
                    },
                    "id": {
                      "type": "string",
                      "description": "Number ID to use as from_number_id in calling APIs.",
                      "example": "00000000-0000-4000-8000-000000000109"
                    },
                    "number": {
                      "type": "string",
                      "example": "+919876500000"
                    },
                    "region": {
                      "type": "string",
                      "nullable": true,
                      "example": "KA"
                    },
                    "country": {
                      "type": "string",
                      "example": "IN"
                    },
                    "provider": {
                      "type": "string",
                      "example": "plivo"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid provider, region, or no matching number available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - Workspace does not have enough credits or billing limit.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Workspace or telephony account credentials were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Number purchase or billing failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/number/{number_id}": {
      "delete": {
        "tags": [
          "workspace"
        ],
        "summary": "Unrent Number",
        "x-mint": {
          "metadata": {
            "title": "Unrent Number | Ringg AI",
            "og:title": "Unrent Number | Ringg AI"
          }
        },
        "description": "Removes a number from the current workspace and archives the workspace-number association.",
        "operationId": "unrentNumber",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          },
          {
            "name": "number_id",
            "in": "path",
            "description": "Workspace number ID returned by GET /workspace/numbers or POST /payment/number/checkout.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "00000000-0000-4000-8000-000000000109"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Number deallocated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Number deallocated successfully!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Protected test numbers cannot be deallocated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Number does not exist in the workspace or has already been deallocated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Provider deallocation or archive operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/all": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get All User Workspaces",
        "x-mint": {
          "metadata": {
            "og:title": "Get All User Workspaces | Ringg AI"
          }
        },
        "description": "Retrieves a list of all workspaces accessible to the current user.",
        "operationId": "getAllUserWorkspaces",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: A list of user workspaces.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "00000000-0000-4000-8000-000000000112"
                          },
                          "name": {
                            "type": "string",
                            "example": "Acme Lending"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-12-16T13:03:29.947147+00:00"
                          },
                          "role": {
                            "type": "string",
                            "example": "owner"
                          },
                          "parent_workspace_id": {
                            "type": "string",
                            "nullable": true,
                            "description": "Set when the workspace is a Ringg Space: the id of its primary. null for a standalone workspace and for a primary itself.",
                            "example": null
                          },
                          "credits": {
                            "type": "integer",
                            "example": 3025
                          },
                          "locked_credits": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/sub": {
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Create Ringg Space",
        "x-mint": {
          "metadata": {
            "og:title": "Create Ringg Space | Ringg AI"
          }
        },
        "description": "Creates a new Ringg Space under the primary workspace that owns the API key. The Ringg Space is a full workspace (own agents, numbers, campaigns, call history, members) that starts with zero balance or credit limit and zero concurrency; allocate to it afterwards. Every member of the primary is given inherited access to it. The first Ringg Space turns the primary into a family in individual billing mode.",
        "operationId": "createSubWorkspace",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) The API key of the PRIMARY workspace. A Ringg Space's own key is refused (403, or 400 if Ringg Spaces are enabled on it).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "(Required) Display name of the new Ringg Space, 1-100 characters. Surrounding whitespace is trimmed.",
                    "example": "Mumbai Collections"
                  }
                }
              },
              "example": {
                "name": "Mumbai Collections"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response: The new Ringg Space.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspace Mumbai Collections created successfully"
                    },
                    "sub_workspace": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "00000000-0000-4000-8000-000000000101"
                        },
                        "name": {
                          "type": "string",
                          "example": "Mumbai Collections"
                        },
                        "parent_workspace_id": {
                          "type": "string",
                          "example": "00000000-0000-4000-8000-000000000107"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-09-18T06:41:12.884312+00:00"
                        },
                        "concurrency": {
                          "type": "integer",
                          "example": 0
                        },
                        "limit_concurrency": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Sub-workspace Mumbai Collections created successfully",
                  "sub_workspace": {
                    "id": "00000000-0000-4000-8000-000000000101",
                    "name": "Mumbai Collections",
                    "parent_workspace_id": "00000000-0000-4000-8000-000000000107",
                    "created_at": "2026-09-18T06:41:12.884312+00:00",
                    "concurrency": 0,
                    "limit_concurrency": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The name is blank, or the API key belongs to a Ringg Space that has Ringg Spaces enabled (no nesting).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspaces cannot have their own sub-workspaces."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Ringg Spaces are not enabled for this workspace (also what a Ringg Space's own key gets), or the caller is not an active member of the primary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspaces are not enabled for this workspace."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get Ringg Spaces",
        "x-mint": {
          "metadata": {
            "og:title": "Get Ringg Spaces | Ringg AI"
          }
        },
        "description": "Returns the whole family in one call: the primary's summary, one row per active Ringg Space with its allocation, members and month-to-date usage, and the family totals. Works on a primary that has no Ringg Spaces yet (empty list).",
        "operationId": "getSubWorkspaces",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) The API key of the PRIMARY workspace. A Ringg Space's own key is refused (403, or 400 if Ringg Spaces are enabled on it).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: The family overview.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "primary": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "00000000-0000-4000-8000-000000000107"
                        },
                        "name": {
                          "type": "string",
                          "example": "Acme Collections HQ"
                        },
                        "concurrency": {
                          "type": "integer",
                          "example": 50
                        },
                        "limit_concurrency": {
                          "type": "integer",
                          "example": 50
                        },
                        "member_count": {
                          "type": "integer",
                          "description": "Direct members of the primary.",
                          "example": 4
                        },
                        "billing": {
                          "type": "object",
                          "description": "Money block of one workspace. Prepaid: account_type, currency, total_available_credits. Postpaid: account_type, currency, credit_limit, utilized_limit (both null for a sub in a common-billing family, whose charges pool on the primary).",
                          "properties": {
                            "account_type": {
                              "type": "string",
                              "enum": [
                                "prepaid",
                                "postpaid"
                              ],
                              "example": "postpaid"
                            },
                            "currency": {
                              "type": "string",
                              "enum": [
                                "INR",
                                "USD"
                              ],
                              "example": "INR"
                            },
                            "total_available_credits": {
                              "type": "number",
                              "nullable": true,
                              "description": "Prepaid only: the workspace's own wallet.",
                              "example": 5000.0
                            },
                            "credit_limit": {
                              "type": "number",
                              "nullable": true,
                              "description": "Postpaid only.",
                              "example": 200000.0
                            },
                            "utilized_limit": {
                              "type": "number",
                              "nullable": true,
                              "description": "Postpaid only.",
                              "example": 34210.5
                            }
                          }
                        },
                        "usage_this_period": {
                          "type": "number",
                          "example": 0
                        }
                      }
                    },
                    "sub_workspaces": {
                      "type": "array",
                      "description": "Active Ringg Spaces, oldest first.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "00000000-0000-4000-8000-000000000101"
                          },
                          "name": {
                            "type": "string",
                            "example": "Mumbai Collections"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-09-01T06:41:12.884312+00:00"
                          },
                          "concurrency": {
                            "type": "integer",
                            "description": "Concurrent calls allocated to this Ringg Space.",
                            "example": 20
                          },
                          "limit_concurrency": {
                            "type": "integer",
                            "description": "The Ringg Space's ceiling: its own allocation in an individual-billing family, the family total in a common-billing family.",
                            "example": 20
                          },
                          "member_counts": {
                            "type": "object",
                            "properties": {
                              "direct": {
                                "type": "integer",
                                "example": 2
                              },
                              "inherited": {
                                "type": "integer",
                                "example": 4
                              }
                            }
                          },
                          "billing": {
                            "type": "object",
                            "description": "Money block of one workspace. Prepaid: account_type, currency, total_available_credits. Postpaid: account_type, currency, credit_limit, utilized_limit (both null for a sub in a common-billing family, whose charges pool on the primary).",
                            "properties": {
                              "account_type": {
                                "type": "string",
                                "enum": [
                                  "prepaid",
                                  "postpaid"
                                ],
                                "example": "postpaid"
                              },
                              "currency": {
                                "type": "string",
                                "enum": [
                                  "INR",
                                  "USD"
                                ],
                                "example": "INR"
                              },
                              "total_available_credits": {
                                "type": "number",
                                "nullable": true,
                                "description": "Prepaid only: the workspace's own wallet.",
                                "example": 5000.0
                              },
                              "credit_limit": {
                                "type": "number",
                                "nullable": true,
                                "description": "Postpaid only.",
                                "example": 200000.0
                              },
                              "utilized_limit": {
                                "type": "number",
                                "nullable": true,
                                "description": "Postpaid only.",
                                "example": 34210.5
                              }
                            }
                          },
                          "usage_this_period": {
                            "type": "number",
                            "description": "Charges for completed calls this calendar month (Asia/Kolkata), in the workspace's billing currency.",
                            "example": 34210.5
                          }
                        }
                      }
                    },
                    "family": {
                      "type": "object",
                      "description": "Family totals. Always: the concurrency keys and is_individual_entity. Postpaid families add credit_limit, utilized_total, available_total. Prepaid individual families add available_pot, allocated_balance_total, family_available_total. Prepaid common families add available_pot and family_available_total.",
                      "properties": {
                        "concurrency_capacity": {
                          "type": "integer",
                          "description": "Concurrent calls the family owns (bought on the primary).",
                          "example": 50
                        },
                        "concurrency_allocated": {
                          "type": "integer",
                          "description": "Sum of the Ringg Spaces' allocations.",
                          "example": 20
                        },
                        "concurrency_available": {
                          "type": "integer",
                          "example": 30
                        },
                        "is_individual_entity": {
                          "type": "boolean",
                          "description": "true = individual billing (each sub has its own wallet or limit); false = common billing (one pool on the primary).",
                          "example": true
                        },
                        "credit_limit": {
                          "type": "number",
                          "nullable": true,
                          "description": "Postpaid: the family total.",
                          "example": 500000.0
                        },
                        "utilized_total": {
                          "type": "number",
                          "nullable": true,
                          "description": "Postpaid: primary + Ringg Spaces utilized.",
                          "example": 46710.5
                        },
                        "available_total": {
                          "type": "number",
                          "nullable": true,
                          "description": "Postpaid: credit_limit - utilized_total.",
                          "example": 453289.5
                        },
                        "available_pot": {
                          "type": "number",
                          "nullable": true,
                          "description": "Prepaid: the primary's unallocated balance.",
                          "example": 12000.0
                        },
                        "allocated_balance_total": {
                          "type": "number",
                          "nullable": true,
                          "description": "Prepaid individual: sum of the Ringg Spaces' wallets.",
                          "example": 8000.0
                        },
                        "family_available_total": {
                          "type": "number",
                          "nullable": true,
                          "description": "Prepaid: pot + allocated wallets.",
                          "example": 20000.0
                        }
                      }
                    }
                  }
                },
                "example": {
                  "primary": {
                    "id": "00000000-0000-4000-8000-000000000107",
                    "name": "Acme Collections HQ",
                    "concurrency": 50,
                    "limit_concurrency": 50,
                    "member_count": 4,
                    "billing": {
                      "account_type": "postpaid",
                      "currency": "INR",
                      "credit_limit": 500000.0,
                      "utilized_limit": 12500.0
                    },
                    "usage_this_period": 0
                  },
                  "sub_workspaces": [
                    {
                      "id": "00000000-0000-4000-8000-000000000101",
                      "name": "Mumbai Collections",
                      "created_at": "2026-09-01T06:41:12.884312+00:00",
                      "concurrency": 20,
                      "limit_concurrency": 20,
                      "member_counts": {
                        "direct": 2,
                        "inherited": 4
                      },
                      "billing": {
                        "account_type": "postpaid",
                        "currency": "INR",
                        "credit_limit": 200000.0,
                        "utilized_limit": 34210.5
                      },
                      "usage_this_period": 34210.5
                    }
                  ],
                  "family": {
                    "concurrency_capacity": 50,
                    "concurrency_allocated": 20,
                    "concurrency_available": 30,
                    "is_individual_entity": true,
                    "credit_limit": 500000.0,
                    "utilized_total": 46710.5,
                    "available_total": 453289.5
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The API key belongs to a Ringg Space that has Ringg Spaces enabled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspaces cannot have their own sub-workspaces."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Ringg Spaces are not enabled for this workspace (also what a Ringg Space's own key gets), or the caller is not an active member of the primary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspaces are not enabled for this workspace."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/sub/members": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "List Family Members",
        "x-mint": {
          "metadata": {
            "og:title": "List Family Members | Ringg AI"
          }
        },
        "description": "Lists every person with access anywhere in the family and where that access comes from: members of the primary (who inherit access to every Ringg Space) and people added directly to one or more Ringg Spaces.",
        "operationId": "listFamilyMembers",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) The API key of the PRIMARY workspace. A Ringg Space's own key is refused (403, or 400 if Ringg Spaces are enabled on it).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: The family member matrix.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "primary_workspace_id": {
                      "type": "string",
                      "example": "00000000-0000-4000-8000-000000000107"
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string",
                            "example": "00000000-0000-4000-8000-000000000106"
                          },
                          "email": {
                            "type": "string",
                            "example": "ops.head@acme-lending.example"
                          },
                          "username": {
                            "type": "string",
                            "example": "Ops Head"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "owner",
                              "member"
                            ],
                            "example": "owner"
                          },
                          "scope": {
                            "type": "string",
                            "enum": [
                              "primary",
                              "sub"
                            ],
                            "description": "primary = member of the primary, inherits access to every Ringg Space; sub = added directly to Ringg Spaces only.",
                            "example": "primary"
                          },
                          "sub_workspace_ids": {
                            "type": "array",
                            "description": "Ringg Spaces the person was added to directly (inherited access is not listed).",
                            "items": {
                              "type": "string"
                            },
                            "example": []
                          },
                          "permissions_by_workspace": {
                            "type": "object",
                            "description": "Effective permissions per workspace id, inherited rows included.",
                            "additionalProperties": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "example": {
                              "00000000-0000-4000-8000-000000000107": [
                                "agents",
                                "numbers",
                                "api_keys"
                              ],
                              "00000000-0000-4000-8000-000000000101": [
                                "agents",
                                "numbers",
                                "api_keys"
                              ]
                            }
                          },
                          "invite_status": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "success",
                              "pending"
                            ],
                            "example": "success"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "primary_workspace_id": "00000000-0000-4000-8000-000000000107",
                  "members": [
                    {
                      "user_id": "00000000-0000-4000-8000-000000000106",
                      "email": "ops.head@acme-lending.example",
                      "username": "Ops Head",
                      "role": "owner",
                      "scope": "primary",
                      "sub_workspace_ids": [],
                      "permissions_by_workspace": {
                        "00000000-0000-4000-8000-000000000107": [
                          "agents",
                          "numbers",
                          "api_keys"
                        ],
                        "00000000-0000-4000-8000-000000000101": [
                          "agents",
                          "numbers",
                          "api_keys"
                        ]
                      },
                      "invite_status": "success"
                    },
                    {
                      "user_id": "00000000-0000-4000-8000-00000000010c",
                      "email": "mumbai.lead@acme-lending.example",
                      "username": "mumbai.lead",
                      "role": "member",
                      "scope": "sub",
                      "sub_workspace_ids": [
                        "00000000-0000-4000-8000-000000000101"
                      ],
                      "permissions_by_workspace": {
                        "00000000-0000-4000-8000-000000000101": [
                          "agents"
                        ]
                      },
                      "invite_status": "pending"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The API key belongs to a Ringg Space that has Ringg Spaces enabled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspaces cannot have their own sub-workspaces."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Ringg Spaces are not enabled for this workspace (also what a Ringg Space's own key gets), or the caller is not an active member of the primary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspaces are not enabled for this workspace."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/sub/{sub_workspace_id}/concurrency": {
      "patch": {
        "tags": [
          "workspace"
        ],
        "summary": "Allocate Concurrency to a Ringg Space",
        "x-mint": {
          "metadata": {
            "og:title": "Allocate Concurrency to a Ringg Space | Ringg AI"
          }
        },
        "description": "Sets how many concurrent calls one Ringg Space may run, taken from the family's capacity (bought on the primary). Allocations across all Ringg Spaces cannot exceed the capacity. In an individual-billing family the allocation is also the Ringg Space's hard ceiling; in a common-billing family the ceiling is the family total, so idle capacity flows to whichever Ringg Space is busy.",
        "operationId": "allocateSubWorkspaceConcurrency",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) The API key of the PRIMARY workspace. A Ringg Space's own key is refused (403, or 400 if Ringg Spaces are enabled on it).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          },
          {
            "name": "sub_workspace_id",
            "in": "path",
            "required": true,
            "description": "(Required) ID of the Ringg Space.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "00000000-0000-4000-8000-000000000101"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "concurrency"
                ],
                "properties": {
                  "concurrency": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "(Required) Concurrent calls to allocate to this Ringg Space. 0 stops it from calling.",
                    "example": 20
                  }
                }
              },
              "example": {
                "concurrency": 20
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response: The new allocation and the family totals.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Mumbai Collections now has 20 concurrent calls"
                    },
                    "sub_workspace_id": {
                      "type": "string",
                      "example": "00000000-0000-4000-8000-000000000101"
                    },
                    "concurrency": {
                      "type": "integer",
                      "example": 20
                    },
                    "limit_concurrency": {
                      "type": "integer",
                      "description": "The persisted ceiling: equals concurrency in an individual-billing family, the family total in a common-billing family.",
                      "example": 20
                    },
                    "primary": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "00000000-0000-4000-8000-000000000107"
                        },
                        "name": {
                          "type": "string",
                          "example": "Acme Collections HQ"
                        }
                      }
                    },
                    "family": {
                      "type": "object",
                      "properties": {
                        "parent_concurrency": {
                          "type": "integer",
                          "description": "Family capacity.",
                          "example": 50
                        },
                        "allocated_total": {
                          "type": "integer",
                          "description": "Sum of all Ringg Space allocations after this change.",
                          "example": 20
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Mumbai Collections now has 20 concurrent calls",
                  "sub_workspace_id": "00000000-0000-4000-8000-000000000101",
                  "concurrency": 20,
                  "limit_concurrency": 20,
                  "primary": {
                    "id": "00000000-0000-4000-8000-000000000107",
                    "name": "Acme Collections HQ"
                  },
                  "family": {
                    "parent_concurrency": 50,
                    "allocated_total": 20
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The allocation does not fit the family's capacity.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Only 30 concurrent calls are available to allocate from the parent workspace (capacity 50, 20 already allocated to other sub-workspaces)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Ringg Spaces are not enabled for this workspace (also what a Ringg Space's own key gets), or the caller is not an active member of the primary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspaces are not enabled for this workspace."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No active Ringg Space with this id under the primary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspace not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/sub/credit-limits": {
      "patch": {
        "tags": [
          "workspace"
        ],
        "summary": "Reallocate Credit Limits",
        "x-mint": {
          "metadata": {
            "og:title": "Reallocate Credit Limits | Ringg AI"
          }
        },
        "description": "Postpaid, individual-billing families only. Sets every active Ringg Space's credit limit in one call and optionally the family total. The map must name every active Ringg Space exactly once; a slice cannot drop below what that Ringg Space has already used this month, the slices cannot exceed the family total, and what remains for the primary must cover its own usage. Not applicable to common-billing families, where credit is pooled on the primary.",
        "operationId": "reallocateSubWorkspaceCreditLimits",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) The API key of the PRIMARY workspace. A Ringg Space's own key is refused (403, or 400 if Ringg Spaces are enabled on it).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "allocations"
                ],
                "properties": {
                  "allocations": {
                    "type": "object",
                    "description": "(Required) sub_workspace_id -> new credit limit. Must include every active Ringg Space exactly once. Values >= 0, two decimals. Values may be JSON numbers (`200000`) or numeric strings (`\"200000.00\"`).",
                    "additionalProperties": {
                      "oneOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  },
                  "parent_credit_limit": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "(Optional) New family total (the primary's credit limit). Omit to keep the current total. A JSON number or a numeric string, >= 0.",
                    "example": 500000.0
                  }
                }
              },
              "example": {
                "parent_credit_limit": 500000.0,
                "allocations": {
                  "00000000-0000-4000-8000-000000000101": 200000.0,
                  "00000000-0000-4000-8000-000000000114": 150000.0
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response: The applied limits. Amounts are decimal strings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parent_workspace_id": {
                      "type": "string",
                      "example": "00000000-0000-4000-8000-000000000107"
                    },
                    "parent_credit_limit": {
                      "type": "string",
                      "description": "The family total, as a decimal string.",
                      "example": "500000.00"
                    },
                    "allocations": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "example": {
                        "00000000-0000-4000-8000-000000000101": "200000.00",
                        "00000000-0000-4000-8000-000000000114": "150000.00"
                      }
                    },
                    "primary": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "00000000-0000-4000-8000-000000000107"
                        },
                        "name": {
                          "type": "string",
                          "example": "Acme Collections HQ"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "parent_workspace_id": "00000000-0000-4000-8000-000000000107",
                  "parent_credit_limit": "500000.00",
                  "allocations": {
                    "00000000-0000-4000-8000-000000000101": "200000.00",
                    "00000000-0000-4000-8000-000000000114": "150000.00"
                  },
                  "primary": {
                    "id": "00000000-0000-4000-8000-000000000107",
                    "name": "Acme Collections HQ"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Wrong billing mode, an incomplete map, or an allocation the family cannot cover.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "This family uses common billing; per-sub credit limits do not exist."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Ringg Spaces are not enabled for this workspace (also what a Ringg Space's own key gets), or the caller is not an active member of the primary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspaces are not enabled for this workspace."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The primary has no Ringg Spaces yet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Workspace is not a sub-workspace family parent."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/sub/credit-balances": {
      "patch": {
        "tags": [
          "workspace"
        ],
        "summary": "Reallocate Credit Balances",
        "x-mint": {
          "metadata": {
            "og:title": "Reallocate Credit Balances | Ringg AI"
          }
        },
        "description": "Prepaid, individual-billing families only. Sets every active Ringg Space's wallet to an absolute balance; the net difference moves from or to the primary's unallocated pot, which must be able to cover it. Top up on the primary first, then allocate. Not applicable to common-billing families, where the wallet is shared on the primary.",
        "operationId": "reallocateSubWorkspaceCreditBalances",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) The API key of the PRIMARY workspace. A Ringg Space's own key is refused (403, or 400 if Ringg Spaces are enabled on it).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "allocations"
                ],
                "properties": {
                  "allocations": {
                    "type": "object",
                    "description": "(Required) sub_workspace_id -> the Ringg Space's NEW absolute balance (not a delta). Must include every active Ringg Space exactly once. Values >= 0, two decimals. Values may be JSON numbers (`200000`) or numeric strings (`\"200000.00\"`).",
                    "additionalProperties": {
                      "oneOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  }
                }
              },
              "example": {
                "allocations": {
                  "00000000-0000-4000-8000-000000000101": 5000.0,
                  "00000000-0000-4000-8000-000000000114": 3000.0
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response: The applied balances. Amounts are decimal strings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "parent_workspace_id": {
                      "type": "string",
                      "example": "00000000-0000-4000-8000-000000000107"
                    },
                    "parent_available_balance": {
                      "type": "string",
                      "description": "The primary's unallocated pot after the move, as a decimal string.",
                      "example": "12000.00"
                    },
                    "allocations": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "example": {
                        "00000000-0000-4000-8000-000000000101": "5000.00",
                        "00000000-0000-4000-8000-000000000114": "3000.00"
                      }
                    },
                    "primary": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "00000000-0000-4000-8000-000000000107"
                        },
                        "name": {
                          "type": "string",
                          "example": "Acme Collections HQ"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "parent_workspace_id": "00000000-0000-4000-8000-000000000107",
                  "parent_available_balance": "12000.00",
                  "allocations": {
                    "00000000-0000-4000-8000-000000000101": "5000.00",
                    "00000000-0000-4000-8000-000000000114": "3000.00"
                  },
                  "primary": {
                    "id": "00000000-0000-4000-8000-000000000107",
                    "name": "Acme Collections HQ"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Wrong billing mode, an incomplete map, or more than the primary's pot can cover.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "These allocations need 9000.00 from the primary's pot, which only holds 4000.00. Lower the allocations or add balance to the primary workspace first."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Ringg Spaces are not enabled for this workspace (also what a Ringg Space's own key gets), or the caller is not an active member of the primary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Sub-workspaces are not enabled for this workspace."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The primary has no Ringg Spaces yet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Workspace is not a sub-workspace family parent."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/all": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "List Agents",
        "x-mint": {
          "metadata": {
            "og:title": "Get Assistants | Ringg AI"
          }
        },
        "description": "Retrieves the agents in your workspace. Without `limit`, every agent is returned.",
        "operationId": "getAssistants",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter agents by name.",
            "schema": {
              "type": "string",
              "example": "EMI"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of agents to return. Leave it out to get every agent.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (default: 0).",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: A list of agents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "agents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "00000000-0000-4000-8000-0000000000a1"
                              },
                              "agent_display_name": {
                                "type": "string",
                                "example": "EMI reminder"
                              },
                              "agent_type": {
                                "type": "string",
                                "enum": [
                                  "inbound",
                                  "outbound",
                                  "outbound_inbound",
                                  "whatsapp"
                                ],
                                "example": "outbound"
                              },
                              "orchestration_mode": {
                                "type": "string",
                                "description": "`single_node` for a single-prompt agent, `multi_node` for a multi-prompt agent.",
                                "example": "single_node"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-04-15T10:30:00.000000+00:00"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-04-16T09:12:00.000000+00:00"
                              },
                              "template_name": {
                                "type": "string",
                                "nullable": true
                              },
                              "template_label": {
                                "type": "string",
                                "nullable": true
                              },
                              "template_icon": {
                                "type": "string",
                                "nullable": true
                              },
                              "template_source": {
                                "type": "string",
                                "nullable": true
                              },
                              "template_type": {
                                "type": "string",
                                "nullable": true,
                                "example": "outbound"
                              },
                              "versions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "version_id": {
                                      "type": "string",
                                      "example": "00000000-0000-4000-8000-0000000000d1"
                                    },
                                    "version_slug": {
                                      "type": "string",
                                      "example": "v1"
                                    },
                                    "is_archived": {
                                      "type": "boolean",
                                      "example": false
                                    }
                                  }
                                }
                              },
                              "voice_avatar": {
                                "type": "string",
                                "nullable": true
                              },
                              "call_frequency_cap": {
                                "type": "object",
                                "nullable": true,
                                "description": "The agent's call limit, if set."
                              }
                            }
                          }
                        },
                        "workspace_call_frequency_cap": {
                          "type": "object",
                          "nullable": true,
                          "description": "The workspace's call limit, if set."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/voices": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "List Voices",
        "x-mint": {
          "metadata": {
            "og:title": "Get Assistant Voices | Ringg AI"
          }
        },
        "description": "Retrieves a list of available voices for agents, optionally filtered by language.",
        "operationId": "getAssistantVoices",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "(Required) Your Ringg AI API key.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "rg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Filter voices by language (e.g., 'en-US', 'hi-IN'). Multiple languages can be comma-separated.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response: A list of available voices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "voices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "3b5c7d2a-8e9f-4a1b-9c6d-2e5f8a7b3c4d"
                          },
                          "name": {
                            "type": "string",
                            "example": "Sarah"
                          },
                          "languages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "en-US",
                              "en-GB"
                            ]
                          },
                          "voice_previews": {
                            "type": "object",
                            "properties": {
                              "en-US": {
                                "type": "string",
                                "format": "uri",
                                "example": "https://example.com/voice-preview-en-us.mp3"
                              }
                            }
                          },
                          "image_url": {
                            "type": "string",
                            "format": "uri",
                            "example": "https://example.com/voice-avatar.jpg",
                            "nullable": true
                          },
                          "gender": {
                            "type": "string",
                            "example": "female"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-12-16T13:03:29.947147+00:00"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-12-16T13:03:29.947147+00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Something went wrong on our end.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Failed to fetch agent voices"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/v1": {
      "patch": {
        "tags": [
          "agent"
        ],
        "summary": "Edit Agent Settings",
        "x-mint": {
          "metadata": {
            "og:title": "Edit Assistant | Ringg AI"
          }
        },
[...]
